@media only screen and (min-width: 768px){
    section.container{
        width: 500px;
        height: 320px;
        justify-content: flex-start;
    }
    div.advice-content{
        height: 235px;
        justify-content: center;
        gap: 20px;
    }
    q#advice{
        font-size: 28px;
    }
    div.sep{
        background: transparent url('../images/pattern-divider-desktop.svg') no-repeat;
    }
}